/**------------------------------------------------------------------
 * MENU
 ------------------------------------------------------------------*/
.menu-grid {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) );
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.menu-title {
    text-transform: capitalize;
}

.menu-items__item {

}

.menu-items__item-image {
    display: block;
    max-width: 100%;
    border-radius: 1em;
}
