/**------------------------------------------------------------------
 * SIDEBAR
 ------------------------------------------------------------------*/
.sidebar {
    border-right: 1px solid var(--col-grey);
}
.sidebar-items {
    font-size: 1.5em;
}

.sidebar-items__item {
    cursor: pointer;
    border-radius: .5em;
    margin-bottom: .25em;
}

.sidebar-items__item.active{
    background-color: var(--col-primary);
    color: var(--col-text-dark);
    font-weight: bold;
}

.sidebar-items__item:hover {
    background-color: var(--col-text-medium);
    color: var(--col-text-light);
}
