@import "variables.css";
@import "utility.css";
@import "sidebar.css";
@import "menu.css";

* {
    box-sizing: border-box;
}
html, body {
    color: var(--col-text-dark);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
input, select, button {
    font-weight: 300;
}

.app-grid {
    grid-template-columns: 3fr 9fr;
    height: 100vh;
}





