.grid {
    display: grid;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.px {
    padding-left: 1em;
    padding-right: 1em;
}

.py {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn {
    font-size: 1rem;
    border-radius: .25em;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: var(--col-primary);
    color: var(--col-text-dark);
}

.btn-danger {
    background-color: var(--col-danger);
    color: var(--col-text-light);
}
